header.wrapper 
    h2 Brand Name
    .menu-opener.mobile
        span
        span
        span
    ul 
        li 
            a(href="#" title="Home") Home
        li 
            a(href="#" title="About Us") About Us
        li 
            a(href="#" title="Product") Product
        li 
            a(href="#" title="Blog") Blog
        li 
            a(href="#" title="Contact us") Contact us 
        li 
            button(type="button" data-cy="login").dark Login
