.wrapper.bg-green.hero-content 
    h1 Furniture that everyone
        br 
        |Loves 
    p We have 5000+ Review and our customers trust on our Furniture and Quality products.

    picture
        //- source(media="(min-width:480)" srcset="https://via.placeholder.com/400x300")
        img(src="https://via.placeholder.com/400x300" alt="hero-img")

    button.dark(type="button") Buy Now
    a.anchor-btn.line(href="#" title="Explore") Explore