doctype html
html(lang="fr")
    head 
        meta(charset="UTF-8")
        title= nomDuSite
        link(rel='stylesheet', href='/css/screen.css')
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        meta(name="viewport", content="width=500, initial-scale=1, shrink-to-fit=yes")
    body 
        include includes/header.pug

        main 
            include includes/hero-content.pug

        include includes/footer.pug
        script(src="main.js", defer) 